@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-family: "Futura PT", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  background: #E5E5E5;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  background-color: #F9F8F8;
}

.header-top-list {
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 10px 0;
  list-style-type: none;
}

.header-top-items {
  display: flex;
  align-items: center;
}

.header-top-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  cursor: pointer;
}

.header-top-links:hover {
  color: #FFBD54;
}

.header-top-links:active {
  opacity: 0.5;
}

.header-top-address {
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
}

.header-top-address:before {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/home-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.header-top-tel {
  white-space: nowrap;
}

.header-top-tel:not(:last-child) {
  margin-right: 10px;
}

.header-top-tel::before {
  display: inline-block;
  margin-right: 9px;
  content: "";
}

.header-top-tel:nth-child(1)::before {
  width: 13px;
  height: 13px;
  background-image: url("../img/tel-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-top-tel:nth-child(2)::before,
.header-top-tel:nth-child(3)::before {
  width: 4px;
  height: 4px;
  background-color: #FFBD54;
  border-radius: 50%;
}


.header-top-time {
  margin-right: 17px;
  white-space: nowrap;
}

.header-top-time:nth-child(1)::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url("../img/schedule.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

/* HEDER-MAIN */

.header-main {
  background-color: #fff;
}

.header-main-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 180px;
}

.site-logo-link {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
}

.site-logo-link:hover {
  opacity: 0.8;
}

.site-logo-link:active {
  opacity: 0.5;
}

.site-nav {
  margin: 0 auto;
  padding: 0;
}

.nav-list {
  max-width: 776px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.nav-list-item {
  flex-shrink: 0;
}

.nav-list-link {
  display: inline-block;
  padding: 20px 27px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.nav-list-link:hover {
  background: #FFBD54;
}

.nav-list-link:active {
  background: rgba(255, 189, 84, 0.5);
}

.active-nav-list-link {
  display: flex;
  align-items: center;
}

.active-nav-list-link::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-image: url("../img/active-navlink.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.header-ask-link-box {
  width: 180px;
}

.header-ask-question-link {
  display: flex;
  align-items: center;
  padding: 20px 27px;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.header-ask-question-link:hover {
  background: #333333;
  color: #fff;
}

.header-ask-question-link:active {
  opacity: 0.5;
  color: #fff;
}

.header-ask-question-link::before {
  display: inline-block;
  width: 23px;
  height: 21px;
  margin-right: 5px;
  background-image: url("../img/dog-hand-icom.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

/* ===== PAGE-CONTENT ===== */

.black-link {
  display: inline-block;
  padding: 15px 48px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background: #333333;
  border-radius: 3px;
}

.black-link:hover {
  background: #FFBD54;
  color: #333333;
}

.black-link:active {
  opacity: 0.5;
}

.yellow-link {
  display: inline-block;
  padding: 15px 48px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background: #FFBD54;
  border-radius: 3px;
}

.yellow-link:hover {
  background: #333333;
  color: #fff;
}

.yellow-link:active {
  opacity: 0.5;
}

.hero {
  background-image: url("../img/hero-bg-left.png"), url("../img/hero-bg-right.png");
  background-repeat: no-repeat;
  background-position: left calc(50% - 535px) top -100px, right calc(50% - 700px) bottom -35px;
}

.hero-container {
  padding-top: 153px;
  padding-bottom: 311px;
}

.hero-right-wrapper {
  max-width: 608px;
  margin-left: auto;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
}

.blue-heading {
  display: inline-block;
  color: #78C0DE;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

/* QUOTE */

.quote-section {
  margin-bottom: 191px;
}

.quote-row {
  width: 140px;
  height: 1px;
  background: #DBDBDB;
  border: none;
}

.quote {
  display: block;
  padding: 0;
  padding-top: 43px;
  margin: 0;
}

.quote-text::before,
.quote-text::after {
  position: absolute;
  z-index: 1;
  width: 142px;
  height: 128px;
  background-size: 55px auto;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}

.quote-text::before {
  position: absolute;
  z-index: 1;
  top: -70px;
  left: -15%;
  background-image: url("../img/left-quote.svg");
}

.quote-text::after {
  position: absolute;
  z-index: 1;
  bottom: -70px;
  right: -15%;
  background-image: url("../img/right-quote.svg");
}

.quote-text {
  position: relative;
  z-index: 1;
  max-width: 753px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.quote-author {
  width: 357px;
  margin: 0 auto;
  margin-top: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

/* SERVICES-SECTION */

.services-section {
  margin-bottom: 235px;
}

.services-heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
}

.slider-wrapper {
  position: relative;
  z-index: 1;
  width: 1223px;
  margin: 0 auto;
}

.slider-track {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  overflow: hidden;
}

.slide {
  width: 193px;
  min-height: 200px;
  flex-shrink: 0;
  margin-right: 13px;
  margin-bottom: 14px;
}

.active-slide {
  height: 227px;
  margin-bottom: 0;
}

.slide-link {
  height: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 30px 35px;
  background: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
}

.slide-link:hover .slide-text {
  color: #FFBD54;
}

.slide-link:active {
  opacity: 0.5;
}

.slide-link::before {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.slide-link-1::before {
  background-image: url("../img/doctor.svg");
}

.slide-link-2::before {
  background-image: url("../img/slider2.svg");
}

.slide-link-3::before {
  background-image: url("../img/slider3.svg");
}

.slide-link-4::before {
  background-image: url("../img/slider4.svg");
}

.slide-link-5::before {
  background-image: url("../img/slider5.svg");
}

.slide-link-6::before {
  background-image: url("../img/slider6.svg");
}

.slide-link-7::before {
  background-image: url("../img/slider7.svg");
}

.slide-link-8::before {
  background-image: url("../img/slider8.svg");
}

.slide-link-9::before {
  background-image: url("../img/slider9.svg");
}

.slide-link-10::before {
  background-image: url("../img/slider10.svg");
}

.slide-link-11::before {
  background-image: url("../img/slider11.svg");
}

.slide-link-12::before {
  background-image: url("../img/slider12.svg");
}

.slide-text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.slider-control {
  width: 45px;
  height: 45px;
  position: absolute;
  z-index: 5;
  top: 50%;
  outline: 0;
  background: #E5E5E5;
  border: none;
}

.slider-control:hover {
  background-color: #fff;
}

.slider-control:active {
  opacity: 0.8;
}

.slider-control:focus {
  box-shadow: 0 0 2px #000;
}

.slider-control-prev {
  left: 0;
  transform: translate(-170%, -50%)
}

.slider-control-next {
  right: 0;
  transform: translate(170%, -50%)
}

/* ACTIVE-SLIDE-INFO */

.active-slide-info {
  width: 1223px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 41px 35px;
  background-color: #fff;
}

.active-slide-text {
  width: 492px;
  margin-left: 67px;
}

.active-slide-heading {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
}

.active-slide-paragraph {
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.active-slide-paragraph:last-of-type {
  margin-bottom: 34px;
}

.active-slide-price-link {
  width: 180px;
  margin-right: 21px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-slide-ragister-link {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* SECTION GET-NOTIFIED */

.get-notified {
  background-image: url("../img/notified-back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.get-notified-container {
  position: relative;
  z-index: 1;
  padding: 90px 20px;

}

.get-notified-container::after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateY(-26%);
  width: 613px;
  height: 481px;
  background-image: url("../img/puppy.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.get-notified-heading {
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: 180px;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  color: #FFFFFF;
}

.get-notified-form {
  display: flex;
  align-items: center;
  margin-left: 180px;
}

.input-email {
  width: 335px;
  margin-right: 21px;
  padding-top: 18px;
  padding-bottom: 12px;
  padding-right: 22px;
  padding-left: 22px;
  background: #FFFFFF;
  border: 2px solid transparent;
  outline: 0;
  border-radius: 5px;
}

.input-email:not(:placeholder-shown):invalid {
  border-color: #D81D04;
}

.input-email:valid {
  border-color: #00B031;
}

.input-email::placeholder {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.get-notified-link {
  border: none;
}

/* ARTICLES-SECTION */

.articles__section .container {
  padding-top: 150px;
  padding-bottom: 150px;
}

.articles__heading {
  width: 400px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;

  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.article {
  display: flex;
  flex-direction: column;
  width: 305px;
  flex-shrink: 0;
  background-color: #fff;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  overflow: hidden;
}

.article+.article {
  margin-left: 24px;
}

.article__img {
  display: block;
  object-fit: cover;
}

.article__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 35px 25px;
  padding-bottom: 35px;
}

.article__top-box {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.article__hashtags {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #3D9CEA;
}

.article__hashtags:last-of-type {
  margin-right: 10px;
}

.article__hashtags+.article__hashtags {
  margin-left: 7px;
}

.article__time {
  display: inline-block;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.article__heading {
  width: 193px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
}

.article__paragraph {
  width: 244px;
  height: 56px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.article__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  margin-top: auto;
  margin-bottom: 0;
  color: #333333;
}

.article__link:hover {
  color: #FFBD54;
}

.article__link::before {
  width: 23px;
  height: 23px;
  margin-right: 5px;
  background-image: url("../img/dog-hand-icom.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

/* ACTIVE ARTICLE */
.active-article {
  width: 640px;
  display: flex;
  flex-direction: row;
}

.active-article .article__img {
  height: 100%;
  display: block;
  object-fit: cover;
}

.active-article .article__info {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;

}

.active-article .article__top-box {
  margin-bottom: 29px;
}

.active-article .article__paragraph {
  width: 270px;
  height: auto;
  overflow: none;
  text-overflow: none;
}

/* ASK-QUESTION */

.ask-question-section {
  margin-bottom: 247px;
}

.ask-qurstion-container {
  display: flex;
}

.map-link {
  display: block;
}

.map {
  width: auto;
  height: 100%
}

.ask-question-form {
  padding-top: 55px;
  padding-bottom: 70px;
  padding-left: 166px;
  padding-right: 450px;
  background-image: url("../img/feedback-img.png"), url("../img/feedback-back.png");
  background-position: center center;
  background-size: contain, cover;
  background-repeat: no-repeat;
}

.ask-question-content {
  width: 375px;
}

.ask-question-heading {
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}

.ask-question-text {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.input {
  width: 100%;
  margin-bottom: 14px;
  padding-top: 18px;
  padding-bottom: 12px;
  padding-right: 22px;
  padding-left: 22px;
  background: #FFFFFF;
  border: 2px solid transparent;
  outline: 0;
}

.input:not(:placeholder-shown):invalid {
  border-color: #D81D04;
}

.input:valid {
  border-color: #00B031;
}

.input::placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.question-area {
  max-width: 100%;
  max-height: 165px;
  min-width: 100%;
  min-height: 165px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  outline-color: #00B031;
  color: #949494;
}

.ask-question-but {
  border: none;
}

.ask-question-but:hover {
  background-color: #FFBD54;
  opacity: 0.9;
}

/*  ===== SITE-FOOTER ===== */

.site-footer {
  background: #F3F3F3;
}

.footer-container {
  padding-top: 61px;
  padding-bottom: 23px;
}

.footer-main {
  display: flex;
  margin-bottom: 28px;
}

.footer-left {
  display: flex;
}

.footer-right {
  display: flex;
}

.footer-logo-link {
  margin-right: 67px;
}

.footer-logo-link:hover {
  opacity: 0.8;
}

.footer-logo-link:active {
  opacity: 0.5;
}

.footer-list {
  margin-right: 87px;
}

.footer-list:nth-of-type(2) {
  margin-right: 127px;
}

.footer-list-links {
  display: block;
  padding: 9px;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.footer-list-links:hover {
  background: #FFBD54;
}

.footer-list-links:active {
  background: rgba(255, 189, 84, 0.5);
}

.footer-time-links-box {
  position: relative;
  width: 152px;
  margin-right: 112px;
}

.footer-time-links {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
}

.footer-time-links:hover {
  color: #FFBD54;
}

.footer-time-links:nth-of-type(1)::before {
  position: absolute;
  top: 3px;
  right: 100%;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/schedule.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.footer-top-address {
  position: relative;
  z-index: 1;
  width: 157px;
  margin-right: 87px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.footer-top-address:hover {
  color: #FFBD54;
}

.footer-top-address::before {
  position: absolute;
  top: 3px;
  right: 100%;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/home-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.footer-tel-links-box {
  position: relative;
  width: 107px;
  margin-left: auto;
}

.footer-tel-links {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
  color: #333333;
}

.footer-tel-links:hover {
  color: #FFBD54;
}

.footer-tel-links-box::before {
  position: absolute;
  top: 3px;
  right: 100%;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/tel-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.copyright {
  text-align: right;
}

/*  ===== SERVICES-HTML =====  */


.contacts__hero {
  background-image: url('../images/green-bird.png');
  background-repeat: no-repeat;
  background-position: calc(50% + 455px) center;
  background-size: 435px 435px;
}

.contacts__hero .container {
  padding-top: 110px;
  padding-bottom: 139px;
}

.contacts__hero .hero__info {
  max-width: 450px;
  margin-left: 112px;
}


.contacts__hero .hero__heading {
  font-family: 'Futura PT';
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 70px;
  line-height: 1;
  color: #333333;
}


.contacts__hero .hero__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;

  display: flex;
  align-items: center;

  color: #949494;
}

.services__list {
  max-width: 100%;
  display: flex;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  width: 305px;
  flex-shrink: 0;
  margin: 0 10px;
  margin-bottom: 37px;
  padding: 50px 22px 45px 50px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  transition: filter ease 0.3s;
}

.service:nth-child(odd) {
  background-image: url('../images/service-bgi.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.service:nth-child(even) {
  background-image: url('../images/even-pet-bgi.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.service:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}



.service::before {
  width: 90px;
  height: 90px;
  content: '';
  display: inline-block;
  margin-bottom: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/doctor.svg');
}

.service:nth-child(2):before {
  background-image: url('../img/dog-with-girl.svg');
}

.service:nth-child(3):before {
  background-image: url('../img/dog.svg');
}

.service:nth-child(4):before {
  background-image: url('../img/dog-doging.svg');
}

.service:nth-child(5):before {
  background-image: url('../img/Laboratory.svg');
}

.service:nth-child(6):before {
  background-image: url('../img/two-dog.svg');
}

.service:nth-child(7):before {
  background-image: url('../img/uzi.svg');
}

.service:nth-child(8):before {
  background-image: url('../img/ukol.svg');
}

.service:nth-child(9):before {
  background-image: url('../img/passport.svg');
}

.service:nth-child(10)::before {
  background-image: url('../img/vaccine.svg');
}

.service:nth-child(11)::before {
  background-image: url('../img/stom.svg');
}

.service:nth-child(12)::before {
  background-image: url('../img/plus-chem.svg');
}

.service__name {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  width: 100%;
  color: #333333;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 14px;
  word-break: break-word;
}

.service__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-top: 0;
  margin-bottom: 26px;
}

.service__link {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  transition: ease 0.5s background-color;
}

.service__link:hover.service__link:hover {
  background-color: #000;
}

.service:nth-child(odd) .service__link {
  background-color: #FFBD54;
}

.service:nth-child(even) .service__link {
  background-color: #78C0DE;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../img/bg.png");
  }

  .hero {
    background-image: url("../img/hero-back@2x.png");
  }

  .get-notified {
    background-image: url("../img/notified-back.png");
  }

  .get-notified-container::after {
    background-image: url("../img/puppy@2x.png");
  }

  .ask-question-form {
    background-image: url("../img/feedback-img@2x.png"), url("../img/feedback-back@2x.png");
  }

  .header-top-address:before,
  .footer-top-address::before {
    background-image: url("../img/home-icon@2x.png");
  }

  .header-top-tel:nth-child(1)::before,
  .footer-tel-links-box::before {
    background-image: url("../img/tel-icon@2x.png");
  }

  .header-top-items:nth-child(3)::before,
  .footer-time-links:nth-of-type(1)::before {
    background-image: url("../img/schedule@2x.png");
  }
}

/* RESPONSIVE-VERSION */


@media (max-width: 1370px) {
  .slider-wrapper {
    width: 1022px;
  }

  .slider-track {
    margin: 0 auto;
  }

  .active-slide-info {
    width: 1022px;
  }

  .slider-control-prev {
    left: 0;
    transform: translate(-115%, -50%)
  }

  .slider-control-next {
    right: 0;
    transform: translate(115%, -50%)
  }

  .active-slide-price-link {
    width: 180px;
    display: block;
    margin: 0;
    margin-bottom: 16px;
  }

  .active-slide-ragister-link {
    width: 200px;
  }



  /* ARTICLES-SECTION */

  .articles__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .articles__heading {
    margin-bottom: 110px;
  }

  .articles__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .article__info {
    flex-grow: 1;
  }

  .article__paragraph {
    flex-grow: 1;
  }

  .article__link {
    margin-top: auto;
  }

  /* ACTIVE ARTICLE */
  .active-article {
    display: flex;
    flex-direction: column;
    width: 305px;
    flex-shrink: 0;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
    overflow: hidden;
    transform: scale(1.1);
  }

  .active-article .article__img {
    height: 250px;
    display: block;
    object-fit: cover;
    object-position: center bottom;
  }

  .active-article .article__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 35px 25px;
    padding-bottom: 35px;
  }

  .active-article .article__top-box {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }

  .active-article .article__paragraph {
    width: 244px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
  }

  .ask-question-form {
    padding-top: 55px;
    padding-bottom: 70px;
    padding-left: 84.5px;
    padding-right: 310px;
  }

  .footer-main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-left {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .footer-right {
    width: 100%;
    justify-content: space-around;
  }

  .footer-tel-links-box {
    margin-left: 0;
  }
}

@media (max-width: 1230px) {
  .header-main-container {
    padding-left: 0;
  }

  .site-logo-link {
    position: static;
    transform: translateY(0);
    display: inline-block;
  }

  .logo-img {
    display: block;
    min-width: 178px;
    max-height: 61px;
  }

  .hero-right-wrapper {
    max-width: 500px;
  }

  .hero-heading {
    font-size: 55px;
  }

  .hero {
    background-position: left calc(50% - 361px) top -85px, right calc(50% - 550px) bottom 0px;
    background-size: 670px 590px, 354px 389px;
  }
}





@media (max-width: 1150px) {
  .header-top-list {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;

  }

  .header-top-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .header-top-address {
    display: block;
    margin: 0;
    margin-bottom: 16px;
  }

  .header-top-tel {
    display: block;
    margin: 0;
    margin-bottom: 16px;
  }

  .header-top-time {
    display: block;
    margin: 0
  }

  .header-top-time+.header-top-time {
    margin-left: 10px;
  }

  .slider-wrapper {
    width: 820px;
  }

  .active-slide-info {
    width: 820px;
  }
}

@media (max-width: 1050px) {
  .hero {
    background-image: none;
  }

  .hero-container {
    padding-bottom: 100px;
  }

  .hero-right-wrapper {
    max-width: 608px;
    margin: 0 auto;
  }

  .articles__list {
    display: block;
  }

  .article {
    width: 85%;
    flex-direction: row;
    margin: 0 auto;
  }

  .article+.article {
    margin: 0 auto;
    margin-top: 20px;
  }

  .article__img {
    width: 100%;
    height: auto;
    display: block;
  }

  .article__info {
    width: 100%;
  }

  .article__paragraph {
    width: 100%;
  }

  .active-article {
    transform: scale(1);
  }

  .active-article .article__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center bottom;
  }

  .active-article .article__paragraph {
    width: 100%;
  }
}

@media (max-width: 780px) {

  .hero-heading {
    font-size: 40px;
    line-height: 40px;
  }

  .article {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .article+.article {
    margin: 0 auto;
    margin-top: 70px;
  }

  .article__img {
    width: 100%;
    display: block;

  }

  .active-article {
    z-index: 1;
    transform: scale(1.1);
  }

  .active-article .article__img {
    max-height: 400px;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center bottom;
  }

}

@media (max-width: 500px) {
  .articles__heading {
    width: 260px;
    font-size: 32px;
    margin-bottom: 50px;
  }

  .article {
    width: 80%;
  }

  .article__img {
    display: block;
    object-fit: cover;
  }

  .active-article .article__img {
    max-height: 280px;
  }

  .header-top-items {
    flex-direction: column;
  }

  .header-top-tel.header-top-tel {
    margin-right: 0;
  }

  .header-top-items:nth-child(3) {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 270px;
    margin: 0 auto;
  }
}